<% provide :title, 'AI-Project'%>

<% provide :head do %>
<% end %>

<% provide :body do %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="jumbotron">
            <h1> AI Project </h1>
            <p>Write your own AI!</p>
            <%= link_to 'Start game', 'start_game', class: 'btn btn-primary btn-lg btn-block' %>
          </div>

          <div class="well well-lg lead">
            <p>
              On this site you can write AI using <%= link_to 'Ruby', 'https://www.ruby-lang.org/en/' %> language
              and let it fight against AIs written by other players
              AI - Project can give you new knowledge, skills, and a lot of fun!
              Just sign up to start this journey.
            <p>
              <b><%= link_to 'About project', 'about' %></b>
          </div>
        </div>
        <!--TODO gif файл с демкой, где 2 юнита кружатся по квадрату и стреляют в друг друга-->
        <div class="col-lg-8">
          <%= image_tag('static_pages/preview.png',
                        alt: 'Game world of AI - Project',
                        title: 'AI - Project Logo',
                        class: 'img-responsive img-thumbnail') %>
        </div>
      </div>
    </div>
<% end %>