<% if @user.errors.any? %>
    <div id="errors">
      <div class="errors-header">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul class="errors-text">
        <% @user.errors.full_messages.each do |msg| %>
            <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>