<% if @game.time_remaining > 0 %>
    <div id="timer">
      <span class="glyphicon glyphicon-time"></span>
      <%= content_tag :span, '', 'data-time-remaining' => @game.time_remaining, :id => 'timer-value' %>
    </div>
<% else %>
    <%= button_to finish_game_path, :id => 'btn-finish-game', :method => :post do %>
        <span class="glyphicon glyphicon-flag"></span> Finish game
    <% end %>
<% end %>
