<% provide :title, 'Page Wait' %>

<% provide :head do %>
  <%= javascript_include_tag 'jquery', 'game_waiting'%>
  <%= stylesheet_link_tag 'game_sessions/page_wait'%>
<% end %>

<% provide :body do %>
    <div id="message">
      Please, wait. Your game will start as soon as possible.
    </div>
    <div id='game-status'>
      How many players are waiting: <span class="text-danger" id='players-count'></span>
    </div>
    <%= image_tag 'game_sessions/squares.gif', id: 'progress-pie' %>
<% end %>